@model RegisterFormViewModel

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Kayıt Ol</p>

                                <form method="post" asp-controller="Auth" asp-action="Register" class="mx-1 mx-md-4">

                                    @if (!string.IsNullOrWhiteSpace(ViewBag.ValidMessage))
                                    {
                                        <div asp-validation-summary="All" class="alert alert-danger fw-bold">
                                            <span>@ViewBag.ValidMessage</span>
                                        </div>
                                    }
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="flex-fill mb-0">
                                            <label class="required" asp-for="Email"></label>
                                            <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com" />
                                            <span class="text-danger mt-1 fw-bold" asp-validation-for="Email"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="flex-fill mb-0">
                                            <label class="required" asp-for="FirstName"></label>
                                            <input asp-for="FirstName" type="text" class="form-control" />
                                            <span class="text-danger mt-1 fw-bold" asp-validation-for="FirstName"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="flex-fill mb-0">
                                            <label class="required" asp-for="LastName"></label>
                                            <input asp-for="LastName" type="text" class="form-control" />
                                            <span class="text-danger mt-1 fw-bold" asp-validation-for="LastName"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="flex-fill mb-0">
                                            <label class="required" asp-for="Password"></label>
                                            <input asp-for="Password" type="password" class="form-control" placeholder="Şifre (en az 5 haneli)" />
                                            <span class="text-danger mt-1 fw-bold" asp-validation-for="Password"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="flex-fill mb-0">
                                            <label class="required" asp-for="PasswordConfirm"></label>
                                            <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="Şifre" />
                                            <span class="text-danger mt-1 fw-bold" asp-validation-for="PasswordConfirm"></span>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input id="agreementCheckbox" class="form-check-input me-2" type="checkbox" value="" />
                                        <label class="form-check-label">
                                            <a target="_blank" asp-controller="" asp-action="TermsOfService"> Hizmet Şartları'ndaki </a> tüm beyanları kabul ediyorum
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button id="registerButton" type="submit" class="btn btn-primary btn-lg">Kayıt Ol</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {

   
    <script>
        function checkRegisterButtonStatus() {
            var agreementCheckbox = document.getElementById("agreementCheckbox");
            var registerButton = document.getElementById("registerButton");

            if (agreementCheckbox.checked) {

                registerButton.disabled = false;
            } else {

                registerButton.disabled = true;
            }
        }

        document.getElementById("agreementCheckbox").addEventListener("change", checkRegisterButtonStatus);

        checkRegisterButtonStatus();
    </script>

}

